<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--
	# WP-SpamShield - "/wp-spamshield/js/" web.config
	# File Version 1.9.7.8
	# Control direct access to certain files.
	# Cache JS files.
	-->
    <system.webServer>
		<authorization>
			<allow users="*" />
		</authorization>
		<caching>
			<profiles>
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
			</profiles>
		</caching>
    </system.webServer>
</configuration>