a              { color: #bb0000; }


.button {
								font-family: Verdana, Arial, sans-serif;
				                display: inline-block;
				                background: #950000 url('../images/bg-button-red.gif') top left repeat-x !important;
				                border: 1px solid #940000 !important;
				                padding: 4px 7px 4px 7px !important;
				                color: #fff !important;
				                font-size: 11px !important;
				                cursor: pointer;
}

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-red.gif') right center no-repeat;
                }

ul.content-box-tabs li a:hover {
                color: #bb0000;
                }              
                
.pagination a.current {
                background: #950000 url('../images/bg-button-red.gif') top left repeat-x !important;
                border-color: #940000 !important;
                }
				
.action-button span:hover {
                color: #bb0000;
                }

.link_button {
		/*	font-family: Verdana, Arial, sans-serif; */
		display: inline-block;
		background: #a40000 url('../images/bg-button-red.gif') top left repeat-x !important;
		border: 1px solid #a40000 !important;
		padding: 6px 11px 6px 11px !important;
		color: #fff !important;
		font-size: 12px !important;
		cursor: pointer;
}